
<div class="p-3">
<div class="card">
    <div class="card-body">
        <div class="w-100 overflow-auto">
            <table class="table table-hover" id="tbl-user-role">
                <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">User Name</th>
                        <th scope="col">User Master</th>
                        <th scope="col">Table Master</th>
                        <th scope="col">Menu Master</th>
                        <th scope="col">Captain master</th>
                        <th scope="col">Chef master</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<script src="~/js/rolepermissions.js"></script>